{% extends 'workouts/base.html' %}

{% block title %}Главная — Workout Tracker{% endblock %}

{% block content %}

<div class="home-container">

    <section class="welcome">
        <h1>
            Привет, <span class="accent">{{ user.username }}</span>
        </h1>

        <p>
            Отслеживайте свои тренировки и следите за прогрессом.
        </p>
    </section>

    <div class="card">
        <h2>Твои тренировки</h2>

        <p style="color: #888; margin-top: 10px;">
            Здесь появятся твои тренировки.
        </p>
    </div>

</div>

{% endblock %}